* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

body {
  font-size: 10px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background-image: url("../img/mainBan3.png");
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  height: 300px;
}

header > h1 {
  font-size: 2.5rem;
}

header > p {
  font-size: 1.2rem;
  margin: 19px 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: rgb(37, 37, 40);
}

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 30px;
}

nav > ul > li > a {
  font-size: 1.2rem;
  color: #fff;
  padding: 7px;
  border-radius: 7px;
}

section {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.sideBar {
  width: 16rem;
  padding: 20px;
  background-color: rgb(34, 34, 34);
  color: #fff;
  margin-right: 2.5rem;
}

.sideBar > h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.sideBar > p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.sideBar > ul {
  padding-left: 1rem;
}

.sideBar > ul > li {
  padding: 0.2rem 0;
  list-style: disc;
  font-size: 1rem;
}

.sideBar > ul > li > a {
  color: #fff;
}

.sideBar > ul > li > a:hover {
  color: orange;
}

nav > ul > li > a:hover {
  color: orange;
  background-color: #333;
}

.main {
  padding: 2rem;
}

.main > h2 {
  font-size: 2.2rem;
  border-bottom: 2px solid rgb(34, 34, 34);
  margin-bottom: 1.2rem;
}

.main > h3 {
  font-size: 1.4rem;
}

.main > ul > li,
.main > ol > li {
  font-size: 1rem;
  list-style: disc;
}

.list {
  margin: 0.7rem 0;
  padding-left: 1.6rem;
}

.main > p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

table {
  margin-bottom: 2rem;
}

table,
th,
tr,
td {
  text-align: start;
  border: 1px solid rgba(34, 34, 34, 0.7);
}

table > thead > tr > th {
  background-color: rgba(34, 34, 34, 1);
  color: #fff;
  font-weight: bolder;
  font-size: 1rem;
}

table > tbody > tr > td {
  background-color: lightgray;
  font-size: 0.8rem;
}

thead > tr > th:nth-child(1),
tbody > tr > th:nth-child(1),
thead > tr > th:nth-child(2),
tbody > tr > th:nth-child(2) {
  width: 16rem;
}

thead > tr > th:nth-last-child(1),
tbody > tr > th:nth-last-child(1) thead > tr > th:nth-last-child(1),
tbody > tr > th:nth-last-child(1) {
  width: 26rem;
}

th,
td {
  padding: 10px;
}

.box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1.2rem;
}

iframe {
  margin-bottom: 1.2rem;
}

.box > li {
  text-align: center;
  align-content: center;
  list-style: none !important;
  width: 29%;
  height: 60px;
  border: 1px solid rgb(34, 34, 34);
  border-radius: 0.6rem;
  margin: 0 1rem;
  background-color: lightgray;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 34, 34);
  margin-top: 2rem;
}

footer > p {
  margin: 1.6rem 0;
  font-size: 1rem;
  padding: 0.5rem;
  color: #fff;
}
